
    .bodyDiv {
        background-color: hsl(0, 100%, 74%); 
        width: fit-content; margin-left: 50px; margin-top: 50px; padding: 50px;
        background-image: url("bg-intro-desktop.png");
        background-blend-mode: darken;
    }


@media screen and (max-width : 1440px) {

    .grid-container {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: auto auto auto;
    }
    
    .grid-item1 {
        grid-column: 1;
        font-family: 'Poppins', sans-serif;
        grid-row: 2;
        color: #ffffff;
    }
    

    h1{
        font-weight: bolder;
        padding: 20px;
        padding-right: 60px;
        margin: 20px;
        font-size: 50px; 
    }
    
    .grid-item1 p{
        padding-left: 20px;
        margin-left: 20px;
        font-size: 16px;
    }

    .grid-item2 {
        grid-column: 2;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        grid-row: 1 / span 3;
    }

    .grid-item2 .tryDiv{
        background-color: hsl(248, 32%, 49%);
        border-radius: 10px;
        padding: 1px;
        margin: 20px;
        box-shadow: 0px 6px 0px 0px rgba(65, 61, 61, 0.315);
    }
    
    .grid-item2 .tryDiv span{
        color: #ffffff;
        font-weight: bold;
    }
    
    .grid-item2 .tryDiv p{
        color: hsl(246, 25%, 77%);
    }
    
    .grid-item2 .tryDiv p{
        color: hsl(246, 25%, 77%);
        text-align: center;
        word-wrap: break-word;
    }

    .grid-item2 .formDiv{
        background-color: #ffffff;
        border-radius: 10px;
        margin: 20px;
        padding: 20px 10px 10px 10px;
        box-shadow: 0px 6px 0px 0px rgba(65, 61, 61, 0.315);
    }
    
    .grid-item2 input{
        background-color: none;
        width: 400px;
        margin: 10px 20px;
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        border: 1px solid;
        border-color: hsl(246, 25%, 77%);
        font-weight: bold;
    }
    
    .grid-item2 input[type="submit"] {
        background-color: hsl(154, 59%, 51%);
        width: 430px;
        margin: 10px 20px;
        color: #ffffff;
        font-weight: normal;
    }
    
    .grid-item2 .formDiv p{
        color: hsl(246, 25%, 77%);
        font-size: 14px;
    }
    
    .grid-item2 .formDiv span a{
        text-decoration: none;
        color: hsl(0, 100%, 74%);
        font-weight: bold;
    }
}

@media screen and (max-width : 700px) {
    .bodyDiv img{
        src: url(../judithgeorge.github.io/bg-intro-desktop.png);
        mix-blend-mode: darken;
    }

    .grid-container {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: 55vw;
        grid-template-rows: auto auto;
    }
    
    .grid-item1 {
        grid-column: 1;
        font-family: 'Poppins', sans-serif;
        grid-row: 1;
        color: #ffffff;
    }

    .grid-item1 h1{
        font-weight: bolder;
        margin: 10px;
        text-align: center;
        font-size: 30px; 
    }

    .grid-item1  p{
        text-align: center;
        margin: 10px;
        font-size: 16px;
    }
    
    .grid-item2 {
        grid-column: 1;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        grid-row: 2;
    }

    .grid-item2 .tryDiv{
        background-color: hsl(248, 32%, 49%);
        border-radius: 10px;
        padding: 10px 50px 10px 50px;
        margin: 20px;
        height: 80px;
        
        text-align: center;
        word-wrap: break-word;
        box-shadow: 0px 6px 0px 0px rgba(65, 61, 61, 0.315);
    }
    
    .grid-item2 .tryDiv span{
        color: #ffffff;
        font-weight: bold;
    }
    
    .grid-item2 .tryDiv p{
        color: hsl(246, 25%, 77%);
    }

    .grid-item2 .formDiv{
        background-color: #ffffff;
        border-radius: 10px;
        margin: 20px;
        padding: 20px 10px 10px 10px;
        box-shadow: 0px 6px 0px 0px rgba(65, 61, 61, 0.315);
    }
    
    .grid-item2 input{
        background-color: none;
        width: 270px;
        margin: 10px 10px;
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        border: 1px solid;
        border-color: hsl(246, 25%, 77%);
        font-weight: bold;
    }
    
    .grid-item2 input[type="submit"] {
        background-color: hsl(154, 59%, 51%);
        width: 300px;
        margin: 10px 10px;
        color: #ffffff;
        font-weight: normal;
    }
    
    .grid-item2 .formDiv p{
        color: hsl(246, 25%, 77%);
        font-size: 14px;
    }
    
    .grid-item2 .formDiv span a{
        text-decoration: none;
        color: hsl(0, 100%, 74%);
        font-weight: bold;
    }
}

body{
    background-color: #000000;
}